@import '../../../../styles/colors.scss';

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.itemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: $primary-beige;
  height: 75vh;
  width: 90vw;
  border-radius: 30px;
  padding: 45px;
  overflow: scroll;

  @media only screen and (max-width: 1200px) {
    padding: 20px;
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    justify-content: center;
  }

  .imageSection {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 60%;

    @media only screen and (max-width: 992px) {
      width: 50%;
    } 

    @media only screen and (max-width: 576px) {
      width: 100%;
      height: 100%;
    }

    .imageContainer {
      position: relative;
      height: 450px;
      width: 450px;
      overflow: hidden;
      border-radius: 20px;      
      transition: all 400ms;

      @media only screen and (max-width: 1200px) {
        height: 375px;
        width: 375px;
      }   
      
      @media only screen and (max-width: 992px) {
        height: 275px;
        width: 275px;
      }   

      @media only screen and (max-width: 576px) {
        width: 100%;
        height: 100%;
      }      
    }
  }

  .detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    height: 100%;
    width: 40%;
    transition: all 400ms;

    @media only screen and (max-width: 1200px) {
      gap: 20px;
    }

    @media only screen and (max-width: 576px) {
      width: 100%;
      height: 50%;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }

    .itemDataContainer {
      display: block;
      width: 80%;

      @media only screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin-top: 20px;
      }

      @media only screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
      }

      .itemPrice {
        font-weight: 700;
        font-size: 16px;
        color: $primary-navy;

        @media only screen and (max-width: 576px) {
          display: none;
        }
      }

      .itemTitle {
        margin: 0;
        font-size: 36px;
        color: $primary-navy;
        transition: all 400ms;

        @media only screen and (max-width: 1200px) {
          font-size: 32px;
        }

        @media only screen and (max-width: 992px) {
          font-size: 26px;
        } 

        @media only screen and (max-width: 576px) {
          font-size: 21px;
        }
      }

      .itemDescription {
        font-size: 16px;
        color: $primary-grey;
        width: 80%;
        transition: all 400ms;

        @media only screen and (max-width: 1200px) {
          font-size: 14px;
          margin-top: 8px;
        }

        @media only screen and (max-width: 992px) {
          font-size: 13px;
          margin-bottom: 0;
        } 

        @media only screen and (max-width: 576px) {
          font-size: 12px;
        }
        
      }
    }

    .sizingContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;

      @media only screen and (max-width: 992px) {
        gap: 10px;
      }

      @media only screen and (max-width: 576px) {
        width: 90%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      
      @media only screen and (max-width: 400px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
      }
      
      .sizeText {
        font-style: italic;
        font-size: 400;
        font-size: 16px;
        color: $primary-grey;
        transition: all 400ms;

        @media only screen and (max-width: 1200px) {
          font-size: 14px;
        }

        @media only screen and (max-width: 992px) {
          font-size: 13px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 12px;
        }
      }

      .sizeOptionsContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        transition: all 400ms;

        @media only screen and (max-width: 992px) {
          gap: 10px
        }

        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        
        .sizeOption {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: $primary-green;
          cursor: pointer;
          border: 2px solid $primary-green;
          border-radius: 10px;
          font-size: 14px;
          transition: all 400ms;

          @media only screen and (max-width: 1200px) {
            font-size: 12px;
          }

          @media only screen and (max-width: 992px) {
            width: 32px;
            height: 32px;
          }

          @media only screen and (max-width: 576px) {
            width: 35px;
            height: 35px;
            font-size: 10px;
          }

          &Selected {
            @extend .sizeOption;
            background-color: $primary-green;
            color: $primary-beige;
            font-weight: 700;
          }
        }
      }
    }
  }

  .cartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    background-color: $primary-teal;
    cursor: pointer;

    font-family: 700;
    font-size: 16px;
    color: $primary-beige;
    transition: all 400ms;

    &View {
      @extend .cartButton;
      background-color: $primary-navy;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 14px;
      width: 60%;
    }

    @media only screen and (max-width: 992px) {
      width: 80%;
    }

    @media only screen and (max-width: 576px) {
      width: 100%;
      font-size: 12px;
    }

    .itemPriceSmall {
      display: none;

      @media only screen and (max-width: 576px) {
        display: block;
      }
    }
  }
}

