@import '../../../styles/colors.scss';

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-beige;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    width: 50%;
    min-width: 600px;
    max-height: 80%;
    overflow-y: scroll;

    @media only screen and (max-width: 650px) {
      min-width: 80%;
    }


    .closeContainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .closeIcon {
        color: $primary-navy;
        cursor: pointer;
        padding: 10px;
        font-size: 50px;

        @media only screen and (max-width: 992px) {
          padding: 5px;
          font-size: 32px;
        }
      }
    }
  }
}