@import '../../../styles/colors.scss';

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contactCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  background-color: $primary-beige;
  border-radius: 20px;
  padding: 50px;

  @media only screen and (max-width: 991px) {
    flex-direction: column;
    width: 66%;
    padding: 15px;
  }

  .cardTextContainer {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media only screen and (max-width: 991px) {
      width: 80%;
    }
    
   .cardTitleText {
      color: $primary-navy;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 15px;

      @media only screen and (max-width: 991px) {
        font-size: 32px;
        text-align: center;
      }

      @media only screen and (max-width: 720px) {
        font-size: 26px;
      }
    }

    .cardBodyText {
      color: $primary-grey;
      font-size: 14px;
      margin: 0;

      @media only screen and (max-width: 991px) {
        text-align: justify;
      }
    } 
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 40%;

    @media only screen and (max-width: 991px) {
      margin-top: 25px;
      width: 66%;
    }

    @media only screen and (max-width: 720px) {
      width: 90%;
    }

    .contactButton {
      cursor: pointer;
      background-color: $primary-teal;
      border-radius: 25px;
      padding: 20px;
      width: 100%;
      border-style: none;

      color: $primary-white;
      font-size: 14px;
      text-align: center;
    }
  }
}