@import '../../../styles/colors.scss';

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  @media only screen and (max-width: 768px) {
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
  }
}

.shopInventoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 10px;
  background-color: $primary-beige;
  min-height: 75vh;
  width: 90vw;
  border-radius: 30px;
  padding: 45px;
  margin-top: 125px;
  margin-bottom: 75px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    height: 85vh;
    overflow-y: scroll;
    margin-bottom: 25px;
  }
}

.itemContainer {
  height: 325px;
  width: 225px;
  overflow-y: hidden;
  cursor: pointer;
  
  @media only screen and (max-width: 992px) {
    height: 300px;
    width: 200px;
  }


  .imageContainer {
    position: relative;
    z-index: 0;
    height: 225px;
    width: 225px;
    
    border-radius: 30px;
    overflow: hidden;

    @media only screen and (max-width: 992px) {
      height: 200px;
      width: 200px;
    }

    .imageColorOverlay {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: $primary-green;
      opacity: 20%;

      transition: all 400ms;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;

    .titleContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .titleText {
        font-weight: 700;
        font-size: 16px;
        text-transform: lowercase;
        color: $primary-navy;
        transition: all 400ms;

        @media only screen and (max-width: 992px) {
          font-size: 15px;
        }
      }
    }

    .descriptionText {
      margin-top: 5px;
      color: $primary-grey;
      width: 90%;
      text-transform: lowercase;
      transition: all 400ms;
      font-size: 14px;

      @media only screen and (max-width: 992px) {
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}

.itemContainer:hover .imageColorOverlay{ opacity: 0%; }