@import '../../../styles/colors.scss';

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.shopInventoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 10px;

  background-color: $primary-beige;
  height: 75vh;
  width: 80vw;
  border-radius: 30px;
  padding: 45px;
  overflow-y: scroll;
}

.itemContainer {
  height: 350px;
  width: 250px;
  overflow-y: hidden;

  .imageContainer {
    position: relative;
    z-index: 0;
    height: 250px;
    width: 250px;
    border-radius: 30px;
    overflow-y: hidden;
    overflow-x: hidden;

    .imageColorOverlay {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: $primary-green;
      opacity: 20%;
      cursor: pointer;

      transition: all;
      transition-duration: 400ms;
      &:hover {
        opacity: 0%;
      }
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;

    .titleContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .titleText {
        font-weight: 700;
        font-size: 16px;
        text-transform: lowercase;
        color: $primary-navy;
      }
    }

    .descriptionText {
      margin-top: 4px;
      color: $primary-grey;
      width: 80%;
      text-transform: lowercase;
    }
  }
}