@import '../../../styles/colors.scss';

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  z-index: 12;

  transition: all  400ms;

  @media only screen and (max-width: 992px) {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 15px;
  }

  .footerItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top: 3px solid $primary-beige;
    padding-top: 15px;

    transition: all 400ms;

    @media only screen and (max-width: 992px) {
      gap: 10px;
    }

    @media only screen and (max-width: 576px) {
      border-top: 2px solid $primary-beige;
      padding-top: 8px;
      gap: 4px;
    }

    .brandItems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $primary-beige;
      margin-left: 10px;
      margin-right: 10px; 

      .logo {  
        letter-spacing: -0.03em;
        font-size: 24px;
        font-weight: 700;

        transition: all 400ms;

        @media only screen and (max-width: 992px) {
          font-size: 21px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 18px;
        }
      }

      .socialContainer {
        display: flex;
        gap: 15px;

        .socialIcon {
          display: flex;
          align-items: center;
          
          cursor: pointer;
          color: $primary-beige;
          font-size: 18px;

          transition: all 400ms;

          @media only screen and (max-width: 992px) {
            font-size: 16px;
          }

          @media only screen and (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }

    .storeItems {
      display: flex;
      align-items: flex-end;
      gap: 50px;
      color: $primary-beige;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 10px;

      .locationItems {
        display: flex;
        flex-direction: column;

        transition: all 400ms;

        @media only screen and (max-width: 992px) {
          font-size: 8px;
        }
      }
    }
  }
}