@import './colors.scss';

html,
body {
  background: $primary-green;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
